# Ignorar entornos virtuales
venv/
.env

# Ignorar cachés y archivos temporales
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Ignorar configuración del editor
.vscode/
.idea/

# Ignorar configuración de sistema operativo
.DS_Store
Thumbs.db